:root {
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Poppins", sans-serif;
    --primary-color: #343434;
    --third-color: #999;
    --main-transition: all 0.5s ease;
    --secondary-color: #f7f7f7;
    --main-padding: 6.25rem;
    --alternate-color: #748182;
}

body {
    font-family: var(--secondary-font);
    text-transform: capitalize;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    font-weight: 800;
}

/* Navigation styles */
.navbar-nav .nav-item .nav-link {
    position: relative;
    transition: all 0.3s ease;
}

.main-title-section {
    color: var(--main-color);
    font-size: 2.5rem;
    position: relative;
    font-weight: 900;
    width: fit-content;
    z-index: 1;
}

.main-title-section::before {
    content: '';
    background-image: url(../imgs/dots.png);
    background-position: center;
    background-repeat: repeat;
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0rem;
    top: 60%;
    z-index: -1;
}

.navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background-color: #000;
    transition: all 0.3s ease;
    transform: translateX(-50%);
}

.navbar-nav .nav-item .nav-link:hover::before {
    width: 100%;
}

.navbar-nav .nav-item .nav-link.active::before {
    width: 100%;
}

body:has(.active.nav-link.home) .navbar-nav .nav-item .nav-link::before {
    background-color: #fff;
}

body:has(.active.nav-link.home) nav {
    background-color: transparent !important;
    position: absolute;
    box-shadow: none;
}

body:has(.active.nav-link) nav {
    background-color: white !important;
    position: fixed;
    transform: translateY(6.25rem);
    top: -6.25rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

body:has(.active.nav-link.home) nav a {
    color: #fff !important;
}

body:has(.active.nav-link) nav a {
    color: #000;
}


/* Header styles */
.header {
    background-image: url("../imgs/bg.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.main-overlay {
    opacity: 0.5;
}

.social-icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease;
    color: white;
    background: rgba(0, 0, 0, 0.3);
}

a.logo {
    font-family: var(--primary-font);
    font-weight: 600;
}

header h1 {
    font-weight: 400;
}

header h5 {
    font-size: 50px;
}

.cursor {
    display: inline-block;
    width: 3px;
    background-color: #fff;
    margin-left: 0.1rem;
    animation: blink 0.7s infinite;
}

/* Typing effect */
.typing-effect::after {
    content: '|';
    animation: wordMoving 9s infinite ease;
    font-weight: 500;
}


@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes wordMoving {
    0% {
        content: 'L';
    }

    2% {
        content: 'La';
    }

    4% {
        content: 'Lar';
    }

    6% {
        content: 'Larr';
    }

    8% {
        content: 'Larry';
    }

    10% {
        content: 'Larry ';
    }

    12% {
        content: 'Larry D';
    }

    14% {
        content: 'Larry Da';
    }

    16% {
        content: 'Larry Dan';
    }

    18% {
        content: 'Larry Dani';
    }

    19% {
        content: 'Larry Danie';
    }

    20% {
        content: 'Larry Daniel';
    }

    22% {
        content: 'Larry Daniels';
    }

    24% {
        content: 'Larry Daniel';
    }

    26% {
        content: 'Larry Danie';
    }

    28% {
        content: 'Larry Dani';
    }

    30% {
        content: 'Larry Dan';
    }

    32% {
        content: 'Larry Da';
    }

    34% {
        content: 'Larry D';
    }

    36% {
        content: 'Larry ';
    }

    38% {
        content: 'Larry';
    }

    40% {
        content: 'Larr';
    }

    42% {
        content: 'Lar';
    }

    44% {
        content: 'La';
    }

    46% {
        content: 'L';
    }

    48% {
        content: '';
    }

    50% {
        content: "D";
    }

    52% {
        content: "De";
    }

    53% {
        content: "Dev";
    }

    54% {
        content: "Deve";
    }

    56% {
        content: "Devel";
    }

    58% {
        content: "Develo";
    }

    60% {
        content: "Develop";
    }

    61% {
        content: "Develope";
    }

    62% {
        content: "Developer";
    }

    64% {
        content: "Develope";
    }

    66% {
        content: "Develop";
    }

    68% {
        content: "Develo";
    }

    70% {
        content: "Devel";
    }

    71% {
        content: "Deve";
    }

    72% {
        content: "Dev";
    }

    74% {
        content: "De";
    }

    75% {
        content: "D";
    }

    76% {
        content: "";
    }

    78% {
        content: "D";
    }

    80% {
        content: "De";
    }

    81% {
        content: "Des";
    }

    82% {
        content: "Desi";
    }

    84% {
        content: "Desig";
    }

    85% {
        content: "Design";
    }

    86% {
        content: "Designe";
    }

    88% {
        content: "Designer";
    }

    89% {
        content: "Designe";
    }

    90% {
        content: "Design";
    }

    92% {
        content: "Desig";
    }

    94% {
        content: "Desi";
    }

    96% {
        content: "Des";
    }

    98% {
        content: "De";
    }

    100% {
        content: "D";
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* About Section */
#about .first-col figure::before {
    content: '';
    background-image: url(../imgs/dots.png);
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0;
    bottom: -1.875rem;
    background-repeat: repeat;
    z-index: 1;
}

#about {
    overflow: hidden;
}

#about .first-col figure img {
    position: relative;
    z-index: 2;
    height: auto;
}

.main-padding {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

#about .row h3 {
    color: var(--primary-color);
    font-size: 2.5rem;
}

#about .row .lable {
    color: #999;
    letter-spacing: 0.125rem;
}

#about .row .about-content {
    color: var(--alternate-color);
    line-height: 30px;
}

#about .row .about-content b {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

#about .progress-bars .progress {
    height: 1.75rem;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15) inset;
    background-color: #f7f7f7;
}

#about .progress-bars .progress h6 {
    font-weight: 400;
}

#about .progress-bars .progress-bar {
    width: 0;
    transition: width 1s ease-in-out;
}


/* Updated progress bar animation */

@keyframes progressAnimation {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#about:target .progress-bars .progress-bar {
    animation: progressAnimation 1.5s ease-out forwards;
}


#about:target .progress-bars .prog-1 {
    animation-name: prog1;
}

#about:target .progress-bars .prog-2 {
    animation-name: prog2;
}

#about:target .progress-bars .prog-3 {
    animation-name: prog3;
}

@keyframes prog1 {
    100% {
        width: 95%;
    }
}

@keyframes prog2 {
    100% {
        width: 80%;
    }
}

@keyframes prog3 {
    100% {
        width: 90%;
    }
}

#about .btns .btn {
    width: 10.625rem;
    transition: all 0.2s;
}

#about .btns .download {
    background-color: #000;
    color: #fff;
}

#about .btns .contact {
    background-color: #fff;
    color: #000;
}

#about .btns .download:hover {
    background-color: #fff;
    color: #000;
}

#about .btns .contact:hover {
    background-color: #000;
    color: #fff;
}



/* Services */

#services {
    background-color: var(--secondary-color);
}

.main-padding {
    padding-top: var(--main-padding);
}

#services .icons {
    width: 5rem;
    height: 5rem;
    background-color: var(--main-bg-color);
    transition: var(--main-transition);
}

#services p {
    color: var(--alt-color);
    word-spacing: 0.125rem;
}

#services .item:hover .icons {
    background-color: #000;
    color: white;
}