* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-template-rows: repeat(9, 100px);
  grid-template-areas: 
    "tofu egg-plants swede cucumber"
    "carrot onion onion onion"
    "yam sweet-potato scones scones"
    "carrots peas scones scones"
    "carrots beans scones scones"
    "carrots pizza lentils tomato"
    "butternut pizza ham pasta"
    "cheese cheese milk milk";
  font-family: sans-serif;
  font-weight: 600;
  margin: 30px auto;
  width: 80%;
  background-color: #ddd;
  gap: 30px;
  grid-auto-rows: 100px;
}

[class^="grid-item"] {
  outline: 1px dashed black;
  display: grid;
  background-color: goldenrod;
  align-items: center;
  justify-content: center;
}

.grid-item-1 {
  grid-area: tofu;
}

.grid-item-2 {
  grid-area: egg-plants;
}

.grid-item-3 {
  grid-area: onion;
}

.grid-item-4 {
  grid-area: tomato;
}

.grid-item-5 {
  grid-area: swede;
}

.grid-item-6 {
  grid-area: scones;
}

.grid-item-7 {
  grid-area: cucumber;
}

.grid-item-8 {
  grid-area: carrot;
}

.grid-item-9 {
  grid-area: yam;
}

.grid-item-10 {
  grid-area: sweet-potato;
}

.grid-item-11 {
  grid-area: carrots;
}

.grid-item-12 {
  grid-area: peas;
}

.grid-item-13 {
  grid-area: beans;
}

.grid-item-14 {
  grid-area: pizza;
}

.grid-item-15 {
  grid-area: lentils;
}

.grid-item-16 {
  grid-area: butternut;
}

.grid-item-17 {
  grid-area: ham;
}

.grid-item-18 {
  grid-area: pasta;
}

.grid-item-19 {
  grid-area: cheese;
}

.grid-item-20 {
  grid-area: milk;
}
