html {
  scroll-padding-top: 3rem;
  scroll-behavior: smooth;
}

/* Navbar Styling */
nav.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

nav .nav-item a::before {
  content: "";
  width: 0%;
  height: 3px;
  bottom: 0;
  position: absolute;
  transition-duration: 0.6s;
  background-color: #fff;
}

nav.navbar .nav-item:hover a::before,
nav.navbar .nav-item .nav-link.active::before {
  width: 50%;
}

.dropdown .dropdown-item:hover {
  color: var(--bs-primary) !important;
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu .dropdown-menu {
  display: none !important;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block !important;
}

.dropdown-submenu .dropdown-menu {
  top: 2.5rem;
  left: 100%;
}

/* Home Section */
header#home {
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

header#home h1 {
  font-size: 3rem;
  font-weight: 600;
}

.animation-text::after {
  content: "|";
  color: #fff;
  animation: movingCursor 1.4s infinite;
  font-size: 2.5rem;
  font-weight: bold;
}

@keyframes movingCursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animation-text::before {
  content: "";
  color: #fff;
  animation: wordMover 14s infinite;
  font-size: 2.6rem;
  font-weight: 500;
}

@keyframes wordMover {
  0% {
    content: "";
  }
  1% {
    content: "D";
  }
  2% {
    content: "De";
  }
  3% {
    content: "Dev";
  }
  4% {
    content: "Deve";
  }
  5% {
    content: "Devel";
  }
  6% {
    content: "Develo";
  }
  7% {
    content: "Develop";
  }
  8% {
    content: "Develope";
  }
  9% {
    content: "Developer";
  }
  14% {
    content: "Developer";
  }
  15% {
    content: "Develope";
  }
  16% {
    content: "Develop";
  }
  17% {
    content: "Develo";
  }
  18% {
    content: "Devel";
  }
  19% {
    content: "Deve";
  }
  20% {
    content: "Dev";
  }
  21% {
    content: "De";
  }
  22% {
    content: "D";
  }
  23% {
    content: "";
  }
  24% {
    content: "D";
  }
  25% {
    content: "De";
  }
  26% {
    content: "Des";
  }
  27% {
    content: "Desi";
  }
  28% {
    content: "Desig";
  }
  29% {
    content: "Design";
  }
  30% {
    content: "Designe";
  }
  31% {
    content: "Designer";
  }
  36% {
    content: "Designer";
  }
  37% {
    content: "Designe";
  }
  38% {
    content: "Design";
  }
  39% {
    content: "Desig";
  }
  40% {
    content: "Desi";
  }
  41% {
    content: "Des";
  }
  42% {
    content: "De";
  }
  43% {
    content: "D";
  }
  44% {
    content: "";
  }
  45% {
    content: "F";
  }
  46% {
    content: "Fr";
  }
  47% {
    content: "Fre";
  }
  48% {
    content: "Free";
  }
  49% {
    content: "Freel";
  }
  50% {
    content: "Freela";
  }
  51% {
    content: "Freelan";
  }
  52% {
    content: "Freelanc";
  }
  53% {
    content: "Freelance";
  }
  54% {
    content: "Freelancer";
  }
  59% {
    content: "Freelancer";
  }
  60% {
    content: "Freelance";
  }
  61% {
    content: "Freelanc";
  }
  62% {
    content: "Freelan";
  }
  63% {
    content: "Freela";
  }
  64% {
    content: "Freel";
  }
  65% {
    content: "Free";
  }
  66% {
    content: "Fre";
  }
  67% {
    content: "Fr";
  }
  68% {
    content: "F";
  }
  69% {
    content: "";
  }
  70% {
    content: "P";
  }
  71% {
    content: "Ph";
  }
  72% {
    content: "Pho";
  }
  73% {
    content: "Phot";
  }
  74% {
    content: "Photo";
  }
  75% {
    content: "Photog";
  }
  76% {
    content: "Photogr";
  }
  77% {
    content: "Photogra";
  }
  78% {
    content: "Photograp";
  }
  79% {
    content: "Photograph";
  }
  80% {
    content: "Photographer";
  }
  85% {
    content: "Photographer";
  }
  86% {
    content: "Photograph";
  }
  87% {
    content: "Photograp";
  }
  88% {
    content: "Photogra";
  }
  89% {
    content: "Photogr";
  }
  90% {
    content: "Photog";
  }
  91% {
    content: "Photo";
  }
  92% {
    content: "Phot";
  }
  93% {
    content: "Pho";
  }
  94% {
    content: "Ph";
  }
  95% {
    content: "P";
  }
  100% {
    content: "";
  }
}

/* About Section */
div.progress {
  height: 0.7rem;
}

.about-header::before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--bs-primary);
  width: 100px;
  bottom: -12px;
}

.paragraph {
  line-height: 35px;
}

/* Service Section */
div.line {
  height: 5px;
  width: 40px;
  margin: 0 auto 40px;
  background-color: var(--bs-primary);
}

.services .heading {
  font-size: 48px !important;
}

.services .card {
  box-shadow: 0px 14px 8px -10px rgba(0, 0, 0, 0.1) !important;
}

.services .card-body > i {
  border: 10px solid var(--bs-primary);
  width: 120px;
  height: 120px;
  line-height: 120px;
  box-sizing: content-box;
  transition-duration: 0.5s;
}

.services .card-body:hover > i {
  background-color: var(--bs-primary);
  color: #fff;
  border-color: #b9d8fbcf !important;
}

/* Analytics Section */
.analytics {
  position: relative;
  padding: 8rem 0;
}

.analytics::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url("../img/counters-bg.jpg");
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.analytics .card-body > i {
  border: 10px solid #b9d8fbcf !important;
  width: 80px;
  height: 80px;
  line-height: 80px;
  box-sizing: content-box;
}

/* Portfolio Section */
.portfolio .heading {
  font-size: 48px;
}

.portfolio .card > i {
  cursor: pointer;
}

.portfolio .container .card img {
  transition: scale 0.7s;
}

.portfolio .container .card:hover img {
  scale: 1.2;
  cursor: pointer;
}

/* Image Slider */
.img-slider::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}


.img-slider::before {
  background-image: url("../img/overlay-bg.jpg");
}

.img-slider .container {
  margin-top: 9.4rem;
  margin-bottom: 9.4rem;
}

.carousel-indicators > button {
  width: 12px !important;
  height: 12px !important;
  background-color: transparent;
  border-radius: 50%;
}

.carousel-indicators > button.active {
  background-color: white !important;
}

.carousel-indicators {
  position: absolute;
  bottom: 70px;
}

/* Blog Section */
.blog .heading {
  font-size: 48px;
}

.blog .card-footer img {
  width: 33px;
  margin-right: 5px;
}

.blog .blog-img1::after,
.blog .blog-img2::after,
.blog .blog-img3::after {
  content: "travel";
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  position: absolute;
  transform: translate(-50%, 50%);
  bottom: 0;
  left: 50%;
  padding: 5px 10px;
  background-color: var(--bs-primary);
  color: white;
  border-radius: 5px;
  z-index: 99;
}

.blog .blog-img2::after,
.blog .blog-img3::after {
  content: "web design";
}

div.card-body a.anchor {
  color: var(--bs-secondary);
  transition: color 1s ease;
}

div.card-body a.anchor:hover,
.blog a:hover {
  color: var(--bs-primary) !important;
}

.carousel-item img {
  width: 150px;
}

.blog .blog-img2::after,
.blog .blog-img3::after {
  content: "web design";
}

.blog a:hover {
  color: var(--bs-primary) !important;
}

/* End of Blog Section */

/* Start of Contact Section */
.contact {
  position: relative;
}

.contact::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.contact::before {
  background-image: url("../img/overlay-bg.jpg");
  background-attachment: fixed;
  background-size:cover;
  background-position: center;
}

.contact .container {
  margin-top: 9.4rem;
  margin-bottom: 9.4rem;
}

.in-touch-header::after, .msg-form::after {
  content: "";
  height: 3px;
  background-color: #0078ff;
  bottom: 0;
  position: absolute;
}

.in-touch-header::after, .msg-form::after{
  left: 0;
  width: 100px;
}

form input,
form textarea {
  outline: none;
}

form button {
  transition: 0.4s;
  border: 4px solid var(--bs-primary);
}

form button:hover {
  background: #3393ff !important;
  border-color:#b9d8fbcf;
}

.in-touch ul.social > li {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  box-sizing: content-box;
  transition: all 0.5s;
}


.in-touch ul.social > li:hover {
  color:white;
  border-color: #b9d8fbcf !important;
  background-color: #0078ff;
}

footer {
  background-color: #0062d3;
}

i.fa-arrow-up {
  width: 50px;
  height: 50px;
  line-height: 40px;
  position: fixed;
  background-color: #0872ec;
  bottom: 10px;
  right: 10px;
  transition-duration: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%; 
}

i.fa-arrow-up:hover {
  background-color: #3490f9;
}

body:has(#home:target) i.fa-arrow-up {
  display: none;
}


/* End of Contact Section */
