:root {
    --primary-bg-color: #F7ECDE;
    --primary-color: #BB4120;
    --text-color: #352E28;
    --bg-image-lg: linear-gradient(to right, #3ca55c, #b5ac49);
    --primary-font: 'Pacifico', cursive; 
    --secondary-color: #FEC260;
    --secondary-font: "Righteous", cursive;
    --alternate-font: "PT Sans Caption", sans-serif;
}

body {
    background-color: var(--primary-bg-color);
}

div.heading h1 {
    font-family: var(--primary-font);
    color: var(--text-color);
    font-size: 50px;
    position: relative;
    display: inline-block;
    padding: 0 10px;
}

h1::before {
    content: "";
    background-color: var(--secondary-color);
    width: calc(100% - 20px);
    height: 20px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    transition: height 0.5s;
    z-index: -1;
}

h1:hover::before {
    height: 50%;
}

.border-bottom-dashed-line {
    border-width: 2px 0 2px 0;
    margin-top: 40px;
    border-color: black;
    border-style: dotted;
}

.book-mark-body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-mark-body h2, 
.book-mark-body i {
    background-image: var(--bg-image-lg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
}

.book-mark-body h2 {
    font-family: var(--secondary-font);
    margin: 0;
}

.book-mark-body i {
    font-size: 1.5rem;
}

div.book-mark-site-name, label,  input::placeholder{
    font-family: var(--alternate-font);
}


div.book-mark-site-name .form-control:focus{
    border-color: #FEC260 !important;
}

table,tr, thead, tbody, th, td, tr {
    font-family: var(--alternate-font);
}

.is-valid {
    border-color: #16a34a;
}

.is-invalid {
    border-color: #dc2626;
}

